.users {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .users li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  
  .users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  .users a {
    color: rgb(15, 2, 2);
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  
  
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #e3e3e4;
    left: .1em;
  }
  
  button.delete {
    position: relative;
    
    left: 194px;
    top: -32px;
    background-color: white !important;
    color: rgba(5, 4, 4, 0.932);
  }
  