// .btn2{
//     background-color: #43A3CC;
//     color: white;
// 	width: 150px;
// 	height: 40px;;
//     border-radius: 50px; 
// -moz-border-radius: 50px; 
// -webkit-border-radius: 50px; 
// border: 0px 
// }


.btn1,.btn2{
    background-color: #43A3CC;
    border: 0px;
    color:white;
    width: 100px;
    height: 40px;
    border-radius: 5px; 

}
.navbar-nav{
    padding-top: 20px;
}
.nav-item{
    padding-left: 20px
}
.link{
   color: #43A3CC;
   padding-left: 20px

}
